<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianxing.system.mapper.SysApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianxing.system.entity.SysApi">
            <result column="id"      property="id"     />
                <result column="modular_id"      property="modularId"    />
                <result column="apiname"      property="apiname"    />
                <result column="head"      property="head"    />
                <result column="parameter"      property="parameter"    />
                <result column="revert"      property="revert"    />
                <result column="illustration"      property="illustration"    />
                <result column="address"      property="address"    />
                <result column="state"      property="state"    />
                <result column="create_by"      property="createBy"    />
                <result column="create_time"      property="createTime"    />
                <result column="update_by"      property="updateBy"    />
                <result column="update_time"      property="updateTime"    />
                <result column="remark"      property="remark"    />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectSysApiVo">
        select
        id,
        modular_id, apiname, head, parameter, revert, illustration, address, state, create_by, create_time, update_by, update_time, remark from sysApi
    </sql>


    <!-- 校验接口名是否唯一 -->
    <select id="checkSysApiName" parameterType="String" resultType="int">
        select count(1) from sys_api where apiName=apiName
    </select>
</mapper>
