<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianxing.system.mapper.SysBugMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianxing.system.entity.SysBug">
            <result column="id"      property="id"     />
                <result column="bug_name"      property="bugName"    />
                <result column="finder"      property="finder"    />
                <result column="find_time"      property="findTime"    />
                <result column="handler"      property="handler"    />
                <result column="handle_time"      property="handleTime"    />
                <result column="show"      property="show"    />
                <result column="state"      property="state"    />
                <result column="create_by"      property="createBy"    />
                <result column="create_time"      property="createTime"    />
                <result column="update_by"      property="updateBy"    />
                <result column="update_time"      property="updateTime"    />
                <result column="remark"      property="remark"    />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectSysBugVo">
        select
        id,
        bug_name, finder, find_time, handler, handle_time, show, state, create_by, create_time, update_by, update_time, remark from sysBug
    </sql>


    <!-- 校验bu名是否唯一 -->
    <select id="checkSysBugName" parameterType="String" resultType="int">
        select count(1) from sys_bug where bugName=bugName
    </select>
</mapper>
