<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianxing.system.mapper.SysLogsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianxing.system.entity.SysLogs">
            <result column="id"      property="id"     />
                <result column="username"      property="username"    />
                <result column="operation"      property="operation"    />
                <result column="method"      property="method"    />
                <result column="params"      property="params"    />
                <result column="time"      property="time"    />
                <result column="ip"      property="ip"    />
                <result column="createdTime"      property="createdTime"    />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectSysLogsVo">
        select
        id,username, operation, method, params, time, ip, createdTime from sys_logs
    </sql>

    <select id="selectPage" resultType="com.tianxing.system.entity.SysLogs">
        <include refid="selectSysLogsVo"/>
        ${ew.customSqlSegment}
    </select>

    <select id="selectUserListPage" resultType="com.tianxing.system.entity.SysLogs">
        select * from sys_logs
    </select>
</mapper>
