<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tianxing.system.mapper.SysMenuMapper">


    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.tianxing.system.entity.SysMenu">
                <id column="menu_id"      property="menuId"        />
                <result column="menu_name"      property="menuName"    />
                <result column="parent_id"      property="parentId"    />
                <result column="order_num"      property="orderNum"    />
                <result column="url"      property="url"    />
                <result column="target"      property="target"    />
                <result column="menu_type"      property="menuType"    />
                <result column="visible"      property="visible"    />
                <result column="perms"      property="perms"    />
                <result column="icon"      property="icon"    />
                <result column="create_by"      property="createBy"    />
                <result column="create_time"      property="createTime"    />
                <result column="update_by"      property="updateBy"    />
                <result column="update_time"      property="updateTime"    />
                <result column="remark"      property="remark"    />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="selectSysMenuVo">
        select
        menu_id, menu_name, parent_id, order_num, url, target, menu_type, visible, perms, icon, create_by, create_time, update_by, update_time, remark from sys_menu
    </sql>

    <select id="selectSysMenuList" parameterType="com.tianxing.system.entity.SysMenu" resultMap="BaseResultMap">
        <include refid="selectSysMenuVo"/>
    </select>

    <!-- 校验菜单名是否唯一 -->
    <select id="checkSysMenuName" parameterType="String" resultType="int">
        select count(1) from sys_menu where menuName=menuName
    </select>
</mapper>
